<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Udacity Project 7 - Travel App</h1>
    </header>

    <main>
        <section class="hero">
            <div class="hero-inner">
                <h1>My Trip Planner</h1>
                <h2>Dubai! City of Amazing Glory!</h2>
                <a href='https://pixabay.com/get/gf5097c54e094e9d1e698492f075daa1fd2364935df3ad28146aef9fa5fad7cce35011c3e38532f3a7a77ef254504147b9531f2661e6053a75b9acf2c45ba6833_640.jpg' class="btn">Explore it!!!</a>
            </div>
        </section>
        <p>The earliest written record of Dubai (Dibei) is accredited to Muhammad al-Idrisi, who mapped the coast of the UAE in the tenth century AD.<br> Circa 1580, the state jeweler of Venice, Gasparo Balbi documented the pearling industry of Dubai and
            other cities currently presiding in UAE territory.<br> Though traditionally conservative, the UAE is one of the most liberal countries in the Gulf, with other cultures and beliefs generally tolerated.<br>
        </p>

        <section>
            <div class="city holder">
                <label for="city">Enter city here</label>
                <input type="text" id="city" placeholder="enter city here">
                <button type="button">Click</button>
                <label for="tripStartDate">Trip start date</label>
                <input type="text" id="tripStartDate" placeholder="enter start date">
                <button type="button">Click</button>
                <label for="tripEndDate">Trip end date</label>
                <input type="text" id="tripEndDate" placeholder="enter trip end date">
                <button type="button">Click</button>
            </div>
            <div class="city location">
                <h4>longitude</h4>
                <h4>latitude</h4>
            </div>
        </section>
    </main>
    <footer>
        <div class="tripCountDown">

        </div>
        <table class="countdownContainer">
            <tr class="tableInfo">
                <td colspan="3">My trip countdown</td>
            </tr>
            <tr class="countdownInfo">
                <td id='days'>120</td>
                <td id='hours'>4</td>
                <td id='minutes'>12</td>
                <td id='seconds'>22</td>

            </tr>
            <tr>
                <td>Days</td>
                <td>Hours</td>
                <td>Minutes</td>
                <td>Seconds</td>
            </tr>
        </table>
        <div class="saveTrip">
            <label for="saveTrip">Save trip</label>
            <input type="text" id="saveTrip" placeholder="Enter trip">
            <button type="button">Click</button>
            <label for="removeTrip">Remove trip</label>
            <input type="text" id="removeTrip" placeholder="Remove trip">
            <button type="button">Click</button>
        </div>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performance
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('service worker registration is successful')
                });

            });
        } else {
            console.log('service worker are not supported');
        }
    </script>

</body>

</html>