body {
    margin: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
}

header {
    justify-content: center;
    display: flex;
    text-align: center;
    border: 0.5em;
    background-color: violet;
}

p {
    margin: auto;
    border: 0.5em;
}

footer {
    text-align: center;
    background-color: violet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

#image {
    align-items: center;
}

.planner {
    text-align: center;
}